/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 999999999999 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Source Sans Pro", "Oxygen", Helvetica, "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background: #f3f7f9;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
input,
select,
textarea,
button {
  font-family: "Roboto", Roboto;
  font-size: 16px;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.d-none {
  display: none;
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.fa-bars {
  font-size: 22px;
  line-height: 50px;
  cursor: pointer;
}
.topmenu .fa-bars {
  display: none;
}
.container {
  padding-left: 55px;
  padding-right: 55px;
  width: 100%;
  /* max-width: 1440px; */
  margin-left: auto;
  margin-right: auto;
}
.topmenu {
  position: relative;
}
.topmenu::after {
  display: block;
  content: "";
  background: #fff;
  height: 60px;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
}
.topmenu-small {
  background: #fff;
  display: none;
}
.topmenu-small .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.topmenu-small .fa-bars {
  margin-right: 10px;
}
.topnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.topnav-first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
  padding-top: 19px;
  padding-bottom: 19px;
}
.topnav-first li {
  margin-right: 40px;
}
.topnav-first li:last-child {
  margin-right: 0;
}
.topnav-first i {
  margin-right: 5px;
  font-size: 18px;
}
.topnav-first a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #555555;
}
.topnav-first a:hover {
  /* font-weight: bold; */
  text-shadow: 0 0 1px #00aeae;
  color: #00aeae;
}
.search-wrapper,
.button-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
.search-wrapper {
  position: relative;
  min-width: -webkit-calc(100% - 651px);
  min-width: -moz-calc(100% - 651px);
  min-width: calc(100% - 651px);
}
.search-wrapper i {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
}
.search-wrapper input {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 22px 7px 10px;
  font-size: 14px;
  line-height: 1;
  color: #555555;
  border: none;
  width: 100%;
}
.button-wrapper button {
  background: #00aeae;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  border: none;
  padding: 8px 29px;
}
.button-wrapper button:hover {
  background: #00cbcb;
}
.topnav-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  padding-top: 22px;
  padding-bottom: 22px;
}
.topnav-second li {
  margin-right: 30px;
}
.topnav-second li:last-child {
  margin-right: 0;
}
.topnav-second a {
  color: #555555;
}
.topnav-second a:hover {
  /* font-weight: bold; */
  text-shadow: 0 0 1px #00aeae;
  color: #00aeae;
}
.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: -webkit-calc(100% - 593px);
  min-width: -moz-calc(100% - 593px);
  min-width: calc(100% - 593px);
}
.nav-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav-buttons li {
  margin-bottom: 20px;
}
.nav-buttons li:not(:last-child) {
  margin-right: 20px;
}
.nav-buttons a {
  display: block;
}
.header {
  height: 400px;
  background-color: #000;
  background-image: url("../img/bg.jpg");
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  text-align: center;
}
.header .h1 {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
.header .h2 {
  font-weight: normal;
  font-size: 23px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #555555;
}
.nav-tab {
  padding: 20px;
  font-size: 18px;
  line-height: 1;
  color: #555555;
  cursor: pointer;
}
/* .nav-tabs .nav-tab:first-child {
  padding-left: 0;
} */
.nav-tab.active {
  /* font-weight: bold; */
  text-shadow: 0 0 1px #555555;
  border-bottom: 3px solid #555555;
  padding-bottom: 17px;
  cursor: auto;
}
.nav-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1;
  margin-top: 29px;
  margin-bottom: 30px;
}
.nav-text > *:not(:last-child) {
  margin-right: 11px;
  position: relative;
}
.nav-text > *:not(:last-child)::after {
  position: absolute;
  right: -13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: #555555;
}
.nav-text > *:not(:first-child) {
  margin-left: 11px;
}
.nav-text a {
  color: #555555;
}
.content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.content-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: -webkit-calc(100% - 510px);
  width: -moz-calc(100% - 510px);
  width: calc(100% - 510px);
}
.content-left .hostel-item:not(:last-child) {
  margin-bottom: 20px;
}
.hostel-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.hostel-img img {
  height: 100%;
  width: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.hostel-content {
  padding: 20px;
  padding-bottom: 65px;
  background: #fff;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.hostel-content-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.hostel-name {
  font-weight: bold;
  line-height: 21px;
  color: #555555;
  margin-bottom: 5px;
  padding-right: 90px;
}
.hostel-price {
  font-size: 14px;
  line-height: 1;
  text-align: right;
  color: #555555;
  position: absolute;
  top: 20px;
  right: 20px;
}
.hostel-price-value {
  font-size: 16px;
  font-weight: bold;
  color: green;
}
.hostel-address {
  font-size: 14px;
  line-height: 130%;
  color: #555555;
  margin-bottom: 10px;
}
.hostel-advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.hostel-advantage {
  padding: 1px 4px;
  font-size: 14px;
  line-height: 16px;
  color: #555555;
  border: 1px solid #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}
.hostel-advantages .hostel-advantage:last-child {
  margin-right: 0;
}
.hostel-description {
  line-height: 130%;
  color: #555555;
}
.hostel-phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}
.hostel-phone a {
  color: #555555;
}
.hostel-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.hostel-buttons > *:not(:last-child) {
  margin-right: 20px;
}
.get-call,
.get-calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  width: 180px;
}
.get-call i,
.get-calc i {
  font-size: 18px;
  margin-right: 10px;
}
.get-call {
  background: #00aeae;
}
.get-calc {
  background: #0099ef;
}
.get-call:hover {
  background: #00cbcb;
}
.content-right {
  margin-right: 30px;
  width: 370px;
  min-width: 370px;
}
.reservations-block,
.reviews-block,
.articles-block {
  padding: 30px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}
.content-right > *:last-child {
  margin-bottom: 0;
}
.reservations-name,
.reviews-name,
.articles-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #555555;
  padding-bottom: 30px;
  border-bottom: 1px solid #00aeae;
}
.reviews-name,
.articles-name {
  margin-bottom: 20px;
}
.reservations-name {
  margin-bottom: 30px;
}
.reservations-block label {
  color: #848484;
  display: block;
  margin-bottom: 10px;
}
.reservations-block input,
.object-calc-content input {
  background: #ffffff;
  border: 1px solid #dae4e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  line-height: 1;
  color: #555555;
}
.object-calc-content input {
  border: 1px solid #e1f4f4;
}
.reservation-name-block,
.reservation-place-block,
.content-row-left,
.content-row-right,
.reservation-places-block,
.reservation-phone-block,
.reservation-email-block {
  position: relative;
}
.reservations-block input.empty-error {
  border: 2px solid #ff5050;
}
.empty-error-text {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 14px;
  line-height: 1;
  color: #ff0000;
}
.reservations-block input[type="text"],
.reservations-block input[type="number"] {
  width: 100%;
  margin-bottom: 20px;
}
.reservations-block select {
  background: #ffffff;
  border: 1px solid #dae4e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 9px 10px;
  line-height: 1;
  color: #555555;
  width: 100%;
  margin-bottom: 20px;
}
.reservations-block input[type="date"] {
  padding: 6px 10px;
  max-width: 144px;
}
.content-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.date-wrapper {
  position: relative;
  display: inline-block;
}
.date-wrapper i {
  pointer-events: none;
  font-size: 18px;
  position: absolute;
  right: 12px;
  top: 9px;
}
.reservations-block *::-webkit-calendar-picker-indicator,
.object-calc-content *::-webkit-calendar-picker-indicator {
  opacity: 0;
  padding-right: 0;
  margin-right: -1px;
  width: 18px;
  height: 22px;
  margin-left: 2px;
}
.btn-green {
  background: #00aeae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 12px;
  border: none;
  color: #ffffff;
  width: 100%;
}
.btn-green:hover {
  background: #00cbcb;
}
.reservations-block *::-webkit-inner-spin-button,
.reservations-block *::-webkit-outer-spin-button,
.object-calc-content *::-webkit-inner-spin-button,
.object-calc-content *::-webkit-outer-spin-button {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-right: 15px;
  height: 50px;
  opacity: 0;
}
.number-wrapper {
  position: relative;
}
.number-wrapper:after,
.number-wrapper:before {
  color: #fff;
  background: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  height: 20px;
  top: 10px;
  width: 20px;
  pointer-events: none;
  text-align: center;
  font-size: 20px;
  line-height: 1;
}
.number-wrapper:after {
  content: "+";
  right: 10px;
}
.number-wrapper:before {
  content: "-";
  right: 35px;
}
.reviews-all {
  line-height: 18px;
  text-align: right;
  position: absolute;
  top: 30px;
  right: 30px;
}
.reviews-all a {
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #00aeae;
}
.reviews-all a:hover {
  /* font-weight: bold; */
  text-shadow: 0 0 1px #00aeae;
}
.review-author {
  font-weight: bold;
  line-height: 1;
  color: #555555;
}
.review-place {
  font-size: 14px;
  line-height: 1;
  color: #555555;
  margin-top: 10px;
  margin-bottom: 20px;
}
.review-text {
  line-height: 130%;
  color: #454545;
}
.reviews-block .review-item:not(:last-of-type) {
  padding-bottom: 20px;
  border-bottom: 1px solid #00aeae;
  margin-bottom: 20px;
}
.reviews-block .review-item:last-of-type {
  margin-bottom: 30px;
}
.articles-block .article-item:not(:last-child) {
  margin-bottom: 30px;
}
.article-name {
  font-weight: bold;
  line-height: 130%;
  color: #555555;
  margin-bottom: 20px;
}
.article-text {
  line-height: 130%;
  color: #555555;
  margin-bottom: 20px;
}
.article-readmore {
  display: block;
  text-align: right;
  line-height: 1;
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #00aeae;
}
.article-readmore:hover {
  text-shadow: 0 0 1px #00aeae;
}
.footer {
  padding-top: 30px;
  background: #353535;
  margin-top: auto;
}
.logo-bottom {
  margin-right: 60px;
}
.logo-bottom img {
  vertical-align: middle;
}
.footer-bottom {
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #000;
  font-size: 14px;
  color: #8d8d8d;
}
.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.footer-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.bottommenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.bottommenu a {
  color: #8d8d8d;
}
.bottommenu a:hover {
  /* font-weight: bold; */
  text-shadow: 0 0 1px #d1d1d1;
  color: #d1d1d1;
}
.bottommenu .bottommenu-part:last-child {
  margin-right: 0;
}
.bottommenu-part {
  margin-right: 70px;
}
.bottommenu-part li {
  margin-bottom: 10px;
}
.bottommenu-part li:last-child {
  margin-bottom: 0;
}
.phone_socials {
  width: 180px;
}
.phone-big {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
}
.phone-big a {
  color: #fff;
}
.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.socials a {
  display: block;
  background: #00aeae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 8px;
  min-width: 32px;
  color: #fff;
  margin-right: 15px;
  text-align: center;
}
.socials li:last-child a {
  margin-right: 0;
}
.socials a:hover {
  background: #00cbcb;
}
.modal-popup {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: -100%;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  width: 370px;
  z-index: 2;
  position: fixed;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.modal-popup.active {
  top: 50%;
}
.modal-popup-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #555555;
  padding-bottom: 30px;
  border-bottom: 1px solid #00aeae;
  margin-bottom: 30px;
}
.modal-popup label {
  line-height: 1;
  color: #848484;
  margin-bottom: 10px;
  display: block;
}
.modal-popup input {
  background: #ffffff;
  border: 1px solid #dae4e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  line-height: 1;
  color: #555555;
  margin-bottom: 20px;
  width: 100%;
}
.modal-popup input:last-of-type {
  margin-bottom: 0;
}
.modal-popup button {
  margin-top: 30px;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal-popup-text,
.notice-text {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: -12px;
}
.modal-popup-text.active,
.notice-text.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-popup-text i,
.notice-text i {
  font-size: 20px;
  margin-right: 10px;
}
.success {
  color: #00923a;
}
#closeicon2_added {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: #c4c4c4;
}
body.modal-open #sidebar-overlay2 {
  display: block;
}
body.menu-open #sidebar-overlay1 {
  display: block;
}
#sidebar-overlay1,
#sidebar-overlay2 {
  background: rgba(0, 0, 0, 0.33);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
body.modal-open,
body.menu-open {
  overflow: hidden;
}

/* media */

@media (max-width: 1360px) {
  .hostel-content-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -webkit-align-items: unset;
    -moz-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .hostel-phone {
    margin-bottom: 20px;
  }
  .hostel-content {
    padding-bottom: 100px;
  }
}

@media (max-width: 1260px) {
  .bottommenu-part {
    margin-right: 6%;
  }
}

@media (max-width: 1200px) {
  .content-block {
    /* display: block; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-left {
    width: 100%;
  }
  .content-right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-top: 30px;
    width: unset;
  }
  .reservations-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reservations-row > * {
    min-width: -webkit-calc(50% - 15px);
    min-width: -moz-calc(50% - 15px);
    min-width: calc(50% - 15px);
  }
  .reservations-row .date-wrapper input {
    max-width: unset;
    width: 100%;
  }
  .reservations-row .content-row-left {
    width: -webkit-calc(50% + 11px);
    width: -moz-calc(50% + 11px);
    width: calc(50% + 11px);
  }
  .reservations-row .content-row-left .date-wrapper {
    width: -webkit-calc(100% - 22px);
    width: -moz-calc(100% - 22px);
    width: calc(100% - 22px);
  }
  .reservations-row .content-row-right {
    width: -webkit-calc(50% - 11px);
    width: -moz-calc(50% - 11px);
    width: calc(50% - 11px);
  }
  .reservations-row .content-row-right .date-wrapper {
    width: 100%;
  }
  .reservations-row > *:first-child {
    margin-right: 30px;
  }
  .reviews-all {
    left: 242px;
    right: unset;
  }
  .search-wrapper {
    min-width: -webkit-calc(100% - 580px);
    min-width: -moz-calc(100% - 580px);
    min-width: calc(100% - 580px);
  }
}

@media (max-width: 1100px) {
  .footer-left {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .bottommenu {
    margin-top: 30px;
    min-width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .bottommenu-part {
    margin-right: 0;
  }
  .phone_socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: auto;
    right: 55px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .logo-bottom {
    margin-right: 0;
    line-height: 33px;
  }
  .phone-big {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media (max-width: 930px) {
  .container {
    padding-left: 27px;
    padding-right: 27px;
  }
  .topmenu::after {
    height: 50px;
  }
  .topnav-first {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .topnav-first li {
    margin-right: 16px;
  }
  .search-wrapper,
  .button-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .search-wrapper {
    min-width: -webkit-calc(100% - 520px);
    min-width: -moz-calc(100% - 520px);
    min-width: calc(100% - 520px);
  }
  .logo {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .logo a {
    line-height: 28px;
  }
  .logo img {
    height: 18px;
    vertical-align: middle;
  }
  .topnav-second {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
  }
  .topnav-second li {
    margin-right: 20px;
  }
  .topnav-second li:last-child {
    margin-right: 0;
  }
  .phone_socials {
    right: 27px;
  }
}

@media (max-width: 750px) {
  .topmenu-small {
    display: block;
  }
  .topmenu-small .logo {
    min-width: -webkit-calc(100% - 120px);
    min-width: -moz-calc(100% - 120px);
    min-width: calc(100% - 120px);
  }
  .topmenu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    left: -100%;
    background: #fff;
    padding: 10px;
    width: 250px;
    -webkit-transition: left 0.25s ease-in-out;
    -o-transition: left 0.25s ease-in-out;
    -moz-transition: left 0.25s ease-in-out;
    transition: left 0.25s ease-in-out;
  }
  .topmenu .logo {
    width: 100%;
    min-width: 100%;
    /* min-width: calc(100% - 19px); */
    padding-top: 0;
    padding-bottom: 0;
  }
  .topmenu .logo a {
    line-height: 20px;
  }
  .topmenu .container {
    padding-left: 0;
    padding-right: 0;
  }
  .topmenu::after {
    display: none;
  }
  .topmenu .fa-bars {
    position: absolute;
    right: 10px;
    display: block;
    line-height: 20px;
  }
  .topmenu .button-wrapper {
    display: none;
  }
  .search-wrapper {
    margin-top: 10px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .topnav-second {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    padding-top: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #00aeae;
  }
  .topnav-second li {
    margin-right: 0;
  }
  .topnav-second li a {
    display: block;
    padding: 8px 10px;
  }
  .topnav-second li a.active {
    background: #00aeae;
    /* font-weight: bold; */
    text-shadow: 0 0 2px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
  }
  .topnav-first {
    display: block;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .topnav-first li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .search-wrapper input {
    border: 1px solid #f2f2f2;
  }
  .topmenu.active {
    left: 0;
  }
  .header .h1,
  .header .h2 {
    line-height: 130%;
  }

  .hostel-content-bottom {
    position: unset;
    display: block;
  }
  .hostel-phone {
    margin-top: 15px;
  }
  .hostel-content {
    padding-bottom: 20px;
  }
  .hostel-buttons {
    display: block;
  }
  .hostel-buttons .get-call {
    margin-bottom: 10px;
  }
  .hostel-buttons .get-call,
  .hostel-buttons .get-calc {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hostel-buttons > *:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 720px) {
  .reservations-row {
    display: block;
  }
  .reservations-row > *:first-child {
    margin-right: 0;
  }
  .reservations-row > * {
    min-width: unset;
  }
}

@media (max-width: 670px) {
  .hostel-item {
    display: block;
  }
  .hostel-img img {
    width: 100%;
    max-height: 320px;
  }
  .phone_socials {
    display: block;
  }
  .phone-big {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .bottommenu {
    margin-top: 80px;
  }
}

@media (max-width: 510px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fa-bars {
    line-height: 40px;
  }
  .logo {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .button-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header {
    height: 200px;
  }
  .header .h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .header .h2 {
    font-size: 16px;
  }
  .nav-text {
    margin-top: 19px;
    margin-bottom: 20px;
  }
  .content-block {
    margin-bottom: 20px;
  }
  .content-left {
    margin-left: -10px;
    width: -webkit-calc(100% + 20px);
    width: -moz-calc(100% + 20px);
    width: calc(100% + 20px);
  }
  .hostel-content {
    padding: 10px;
    padding-bottom: 20px;
  }
  .hostel-img img {
    max-height: 240px;
  }
  .hostel-name {
    margin-bottom: 10px;
    padding-right: 0;
  }
  .hostel-address {
    margin-bottom: 15px;
  }
  .hostel-advantages {
    margin-bottom: 15px;
  }
  .hostel-price {
    top: unset;
    right: 10px;
    bottom: 110px;
  }
  .content-left .hostel-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .content-right {
    margin-top: 20px;
    min-width: unset;
  }
  .reservations-block,
  .reviews-block,
  .articles-block {
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  .reservations-name,
  .reviews-name,
  .articles-name {
    padding-bottom: 20px;
  }
  .reservations-name {
    margin-bottom: 20px;
  }
  .reviews-all {
    left: unset;
    top: 20px;
    right: 10px;
  }
  .reviews-block .review-item:last-of-type {
    margin-bottom: 20px;
  }
  .article-name,
  .article-text {
    margin-bottom: 10px;
  }

  .logo-bottom {
    min-width: 100%;
    text-align: center;
    line-height: 24px;
  }
  .bottommenu {
    margin-top: 143px;
    text-align: center;
    display: block;
  }
  .phone_socials {
    right: 50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    top: 54px;
  }
  .bottommenu-part {
    margin-bottom: 20px;
  }
  .bottommenu .bottommenu-part:last-child {
    margin-bottom: 0;
  }
}
