.call-block {
  padding: 30px;
  background: #00aeae;
  border-radius: 5px;
  color: #ffffff;
}
.content-block > .call-block {
  width: 370px;
  position: absolute;
}
.hostel-object .content-right {
  padding-top: 196px;
}
.call-block-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;
  max-width: 220px;
}
.call-block-phone {
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 20px;
}
.call-block-phone a {
  color: #ffffff;
}
.call-block-info {
  line-height: 130%;
}

.content-left .call-block-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content-left .call-block {
  padding: 20px;
}
.content-left .call-block-text {
  max-width: unset;
}
.content-left .call-block-phone {
  margin-bottom: 0;
}

.object-menu-block {
  margin-top: 30px;
  margin-bottom: 30px;
}
.object-menu-block .object-menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.object-menu-item {
  display: block;
  background: #ffffff;
  border: 1px solid #e1f4f4;
  border-radius: 5px;
  padding: 13px 14px;
  line-height: 22px;
  text-align: center;
  color: #555555;
}
.object-menu-item:hover {
  background: #ffa149;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 14px;
}
.block-toggle.active {
  font-weight: bold;
}
.block-toggled {
  display: none;
}
.block-toggled.active {
  display: block;
}
.content-left-top {
  background: #fff;
}
.content-left-menu {
  display: flex;
  margin-bottom: 20px;
}
.content-left-menu a,
.content-left-menu span {
  display: block;
  padding: 12px 15px;
  color: #555555;
  cursor: pointer;
}
.content-left-menu a:first-child,
.content-left-menu span:first-child {
  padding-left: 0;
}
.slider-wrapper {
  height: calc((100vw - 520px) * 3 / 4);
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.slider-wrapper .slides {
  position: absolute;
  display: flex;
  transition: transform 0.3s;
}
.slides li {
  min-width: 100%;
}
.slides li img {
  width: 100%;
  object-fit: cover;
}
.slider-ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 30px;
}
.slider-left {
  display: flex;
  align-items: center;
}
.slider-prev,
.slider-next {
  font-size: 25px;
  color: #555555;
  cursor: pointer;
}
.slider-prev.disabled,
.slider-next.disabled {
  pointer-events: none;
  color: #999;
}
.slider-next {
  margin-left: 24px;
  margin-right: 30px;
}
.slider-text {
  color: #555555;
}
.slider-dots {
  display: flex;
  align-items: center;
}
.slider-dots .slider-dot:not(:last-child) {
  margin-right: 8px;
}
.slider-dot {
  width: 10px;
  height: 10px;
  background: #555555;
  border-radius: 50%;
}
.slider-dot.active {
  width: 14px;
  height: 14px;
  border: 3px solid #555555;
  background: transparent;
}
.object-top-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #00aeae;
  margin-bottom: 30px;
}
.object-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #555555;
  margin-right: 30px;
  flex: 1;
}
.object-socials {
  display: flex;
}
.object-socials > * {
  font-size: 13px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 5px;
  min-width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
}
.object-socials > *:last-child {
  margin-right: 0;
}
.object-socials > *:hover {
  background: #00aeae;
}
.object-info-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #555555;
  margin-bottom: 20px;
}
.object-description-text {
  line-height: 130%;
  color: #555555;
}
.object-description-ul {
  margin-top: 20px;
  line-height: 130%;
  color: #454545;
}
.object-description-ul li {
  padding-left: 18px;
  position: relative;
}
.object-description-ul li:not(:last-child) {
  margin-bottom: 5px;
}
.object-description-ul li:before {
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #00aeae;
  border-radius: 50%;
}
.object-description-content,
/* .object-price-content, */
.object-rooms-content,
.object-address-content,
.object-road-content,
.object-calc-content {
  margin-bottom: 30px;
}
.object-rooms-content,
.object-address-content,
.object-road-content,
.object-video-name {
  line-height: 130%;
  color: #555555;
}

.object-price-table {
  overflow-x: auto;
}
.table-pricetypes-row {
  position: relative;
  flex-wrap: wrap;
}
.table-pricetypes-show-more {
  font-size: 24px;
  line-height: 50px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}
.table-pricetypes-show-more .fa-caret-up {
  display: none;
}
.table-pricetypes-show-more.active .fa-caret-down {
  display: none;
}
.table-pricetypes-show-more.active .fa-caret-up {
  display: inline-block;
}
.table-pricetypes-all {
  margin-top: 2px;
  min-width: 100%;
  display: none;
}
.table-pricetypes-all.active {
  display: block;
}
.table-names-row,
.table-pricetypes-row,
.table-pricetype-row {
  display: flex;
  margin-bottom: 2px;
  line-height: 130%;
  color: #555555;
  width: 928px;
}
.table-pricetype-row--isPromotion > *:nth-child(3) {
  font-weight: bold;
}
.table-pricetypes-row:last-child,
.table-pricetype-row:last-child {
  margin-bottom: 0;
}
.table-names-row {
  font-weight: bold;
}
.table-names-row > * {
  background: #f3f7f9;
  padding: 15px;
  text-align: center;
}
.table-price-cell {
  background: #defbff;
  padding: 15px;
  text-align: center;
}
.table-names-row > *:first-child {
  border-radius: 5px 0px 0px 0px;
}
.table-names-row > *:last-child {
  border-radius: 0px 5px 0px 0px;
}
.table-pricetypes-row:last-child > *:first-child {
  border-radius: 0px 0px 0px 5px;
}
.table-pricetypes-row:last-child > *:last-child {
  border-radius: 0px 0px 5px 0px;
}
.table-names-row > *:not(:last-child),
.table-pricetypes-row > *:not(:last-child),
.table-pricetype-row > *:not(:last-child) {
  margin-right: 2px;
}
.table-names-row > *:first-child,
.table-pricetypes-row > *:first-child,
.table-pricetype-row > *:first-child {
  width: 200px;
}
.table-names-row > *:nth-child(2),
.table-pricetypes-row > *:nth-child(2),
.table-pricetype-row > *:nth-child(2) {
  width: 200px;
}
.table-names-row > *:nth-child(3),
.table-pricetypes-row > *:nth-child(3),
.table-pricetype-row > *:nth-child(3) {
  width: 120px;
}
.table-names-row > *:nth-child(4),
.table-pricetypes-row > *:nth-child(4),
.table-pricetype-row > *:nth-child(4) {
  width: 132px;
}
.table-names-row > *:nth-child(5),
.table-pricetypes-row > *:nth-child(5),
.table-pricetype-row > *:nth-child(5) {
  width: 132px;
}
.table-names-row > *:nth-child(6),
.table-pricetypes-row > *:nth-child(6),
.table-pricetype-row > *:nth-child(6) {
  width: 132px;
}

.object-calc-content {
  background: #f4f9fb;
  border: 1px solid #94d6d6;
  border-radius: 5px;
  padding: 20px;
}
.calc-first-row {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 130%;
  color: #555555;
  padding-bottom: 20px;
  border-bottom: 1px solid #cfe4e4;
  margin-bottom: 20px;
}
.calc-first-row i {
  width: 32px;
  height: 32px;
  color: #fff;
  font-size: 24px;
  padding: 4px 5px;
  border-radius: 5px;
  background: #00aeae;
  margin-right: 20px;
}
.calc-second-row {
  display: flex;
}
.calc-second-row > * {
  flex: 1;
}
.calc-second-dayin .date-wrapper {
  width: calc(100% - 21px);
}
.calc-second-dayin span:last-child {
  vertical-align: 9px;
}
.calc-second-dayout {
  margin-right: 30px;
}
.calc-second-dayout .date-wrapper {
  width: 100%;
}
.object-calc-content label {
  color: #555555;
  display: block;
  margin-bottom: 10px;
}
.object-calc-content input {
  width: 100%;
  margin-bottom: 20px;
}
.object-calc-content input[type="date"] {
  padding: 6px 10px;
}
.object-calc-content [type="submit"] {
  margin-bottom: 20px;
}
.calc-answer {
  display: none;
}
.calc-answer.active {
  display: block;
}
.calc-answer,
.calc-text {
  line-height: 130%;
  color: #555555;
}
.calc-answer-first-row {
  margin-bottom: 20px;
}
.calc-answer-row {
  margin-bottom: 10px;
}
.calc-answer-last-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.answer-place-number {
  font-weight: bold;
  font-size: 20px;
}
.answer-room-price {
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.calc-print {
  margin-top: 20px;
  text-align: right;
}
.calc-answer-last-row a,
.calc-print a {
  text-decoration-line: underline;
  color: #00aeae;
}
.object-room {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #00aeae;
}
.object-room-header {
  flex: 1;
}
.object-room:not(:first-child) {
  margin-top: 30px;
}
.object-room-head {
  display: flex;
  min-width: 100%;
}
.object-room-img {
  margin-right: 30px;
}
.object-room-img img {
  display: block;
  border-radius: 5px;
  width: 215px;
  height: 140px;
  object-fit: cover;
}
.object-room-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}
.show_more_facilities {
  position: absolute;
  z-index: 1;
  top: 64px;
  width: 100%;
  background-color: #fff;
  line-height: 14px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  display: none;
}
.show_more_facilities.active {
  display: block;
}
.show_more_facilities .showed {
  display: none;
}
.show_more_facilities.showing .showed {
  display: block;
}
.show_more_facilities.showing .showed-no {
  display: none;
}
.object-room-facilities-wrapper {
  position: relative;
  height: 102px;
  overflow: hidden;
}
.object-room-facilities-wrapper.active {
  overflow: unset;
  height: auto;
  padding-bottom: 36px;
}
.object-room-facilities {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.object-room-facilities.active {
  z-index: 1;
}
.object-room-facility {
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1;
  border: 1px solid rgba(133, 135, 139, 0.3);
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 8px;
}
.object-room-seats {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}
.object-room-variants-name {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  min-width: 100%;
}
.object-room-seats-block:first-child {
  margin-right: 12px;
}
.object-room-seats-all-value,
.object-room-seats-free-value {
  font-size: 18px;
  font-weight: bold;
}
.object-room-table-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}
.object-room-table-row {
  display: flex;
  align-items: center;
}
.object-room-table-row:not(:last-child) {
  border-bottom: 1px solid #dae6ec;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.object-room-table-row-cell {
  font-size: 18px;
  line-height: 1;
}
.price-value {
  font-weight: bold;
  font-size: 24px;
  color: #00aeae;
}
.price-text {
  font-size: 14px;
}
.object-room-table-row-cell:first-child {
  width: 310px;
}
.object-room-table-row-cell:nth-child(2) {
  width: 184px;
}
.object-room-table-row-cell:nth-child(3) {
  width: 215px;
}
.object-room-facility-cell {
  width: 100%;
}
.object-room-facility-cell:not(:last-child) {
  margin-bottom: 10px;
}
.object-room-table-row:not(:first-child) {
  margin-top: 6px;
}
.object-room-reserve-button {
  width: 100%;
  max-width: 215px;
  padding: 10px 16px;
  background-color: #00aeae;
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: center;
  color: #fff;
  outline: none;
}
.object-room-reserve-button:hover {
  background-color: #00cbcb;
}

.object-room-facility i {
  font-size: 18px;
  margin-right: 4px;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 18px;
  margin-left: 0;
}

.youtube-video {
  margin-top: 20px;
  margin-bottom: 30px;
}
.youtube-video iframe,
.ya_map iframe {
  width: 100%;
  height: calc((100vw - 580px) / 2);
}
.content-left-bottom {
  background: #fff;
  padding: 30px;
  margin-top: 30px;
}
.info-block {
  background: #defbff;
  border-radius: 5px;
  padding: 20px;
  line-height: 130%;
  color: #555555;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1600px) {
  .object-room-table-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 1280px) {
  .object-room-table-row-cell:first-child {
    width: 270px;
  }
  .object-room-table-row-cell:nth-child(2) {
    width: 170px;
  }
  .object-room-table-row-cell:nth-child(3) {
    width: 191px;
  }
}
@media (max-width: 1200px) {
  .content-block > .call-block .call-block-text {
    max-width: unset;
  }
  .content-block > .call-block .call-block-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .content-block > .call-block .call-block-phone {
    margin-bottom: 0;
  }
  .content-block > .call-block {
    width: 100%;
    position: unset;
    padding: 20px;
    margin-bottom: 30px;
  }
  .hostel-object .content-right {
    padding-top: 0;
  }
  .object-menu-block {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .object-menu-item {
    width: calc(50% - 5px);
  }
  .object-menu-block .object-menu-item:first-child,
  .object-menu-block .object-menu-item:nth-child(2) {
    margin-right: 10px;
  }
  .object-menu-block .object-menu-item:nth-child(2),
  .object-menu-block .object-menu-item:last-child {
    order: 1;
    margin-bottom: 0;
  }
  .youtube-video iframe,
  .ya_map iframe {
    height: calc((100vw - 180px) / 2);
  }
}

@media (max-width: 930px) {
  .youtube-video iframe,
  .ya_map iframe {
    height: calc((100vw - 124px) / 2);
  }
}

@media (max-width: 800px) {
  .object-room {
    display: block;
  }
}

@media (max-width: 745px) {
  .object-room-head {
    display: block;
  }
  .object-room-img {
    margin-right: 0;
  }
  .object-room-img img {
    width: 300px;
    height: 194px;
  }
  .object-room-header {
    flex: unset;
    margin-top: 10px;
  }
  .object-room-seats {
    margin-top: 15px;
  }
  .object-room-table-row-cell:nth-child(2) {
    width: 150px;
  }
  .object-room-table-row-cell:nth-child(3) {
    width: 100%;
    margin-top: 16px;
  }
  .object-room-facilities-wrapper {
    height: 137px;
  }
  .show_more_facilities {
    top: 99px;
  }
}

@media (max-width: 650px) {
  .calc-second-row {
    flex-wrap: wrap;
  }
  .calc-second-dayout {
    margin-right: 0;
  }
  .calc-second-places {
    min-width: 100%;
  }
  .content-left .call-block-row {
    display: block;
  }
  .content-left .call-block-phone {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .content-block > .call-block .call-block-row {
    display: block;
  }
  .content-block > .call-block .call-block-phone {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .content-left .call-block-text {
    max-width: 220px;
  }
}

@media (max-width: 534px) {
  .object-room-table-row-cell:nth-child(2) {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 510px) {
  .object-room-facilities {
    width: calc(100vw - 20px);
  }
  .content-block > .call-block,
  .content-left .call-block {
    padding: 10px;
  }
  .call-block-text {
    margin-bottom: 10px;
  }
  .content-block > .call-block .call-block-phone,
  .content-left .call-block-phone {
    margin-bottom: 10px;
  }
  .content-block > .call-block {
    margin-bottom: 20px;
  }
  .content-block > .call-block .call-block-text {
    max-width: 220px;
  }
  .content-left-menu a,
  .content-left-menu span {
    padding: 12px 10px;
  }
  .content-left-menu a:first-child,
  .content-left-menu span:first-child {
    padding-left: 0;
  }
  .slider-ui {
    padding: 10px;
  }
  .content-left-bottom {
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .object-top-info {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .object-name {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .object-description-content,
  /* .object-price-content, */
  .object-address-content,
  .object-road-content,
  .object-calc-content {
    margin-bottom: 20px;
  }
  .object-calc-content {
    padding: 16px 10px 20px;
  }
  .calc-second-dayin {
    min-width: calc((100% + 21px) / 2);
  }
  .calc-second-dayout {
    min-width: calc((100% - 21px) / 2);
  }
  .calc-first-row {
    padding-bottom: 10px;
  }
  .youtube-video {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .youtube-video iframe {
    min-height: 170px;
    height: calc((100vw - 80px) / 2);
  }
  .ya_map iframe {
    min-height: 260px;
    height: calc((100vw - 80px) * 3 / 4);
  }
  .info-block {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .object-menu-block {
    display: block;
    margin-bottom: 20px;
  }
  .object-menu-item {
    width: 100%;
  }
  .object-menu-block .object-menu-item:first-child,
  .object-menu-block .object-menu-item:nth-child(2) {
    margin-right: 0;
  }
  .object-menu-block .object-menu-item:nth-child(2) {
    margin-bottom: 10px;
  }
}
