    /*
    Flaticon icon font: Flaticon
    Creation date: 13/10/2020 15:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-fridge:before { content: "\f100"; }
.flaticon-free-wifi:before { content: "\f101"; }
.flaticon-wifi:before { content: "\f102"; }
.flaticon-kitchen:before { content: "\f103"; }
.flaticon-microwave:before { content: "\f104"; }
.flaticon-shower:before { content: "\f105"; }
.flaticon-bathroom:before { content: "\f106"; }
.flaticon-toilet:before { content: "\f107"; }
.flaticon-washing-machine:before { content: "\f108"; }
.flaticon-stove:before { content: "\f109"; }
.flaticon-clean-linen-basket:before { content: "\f10a"; }
.flaticon-cctv:before { content: "\f10b"; }
.flaticon-security:before { content: "\f10c"; }
.flaticon-gift:before { content: "\f10d"; }
.flaticon-24-hours:before { content: "\f10e"; }
.flaticon-toilet-1:before { content: "\f10f"; }
.flaticon-comfortable:before { content: "\f110"; }
.flaticon-area:before { content: "\f111"; }
.flaticon-free-parking:before { content: "\f112"; }
.flaticon-taking-a-shower:before { content: "\f113"; }
.flaticon-bath-curtain:before { content: "\f114"; }
.flaticon-windows:before { content: "\f115"; }
.flaticon-panorama:before { content: "\f116"; }
.flaticon-360-view:before { content: "\f117"; }
.flaticon-panorama-1:before { content: "\f118"; }
.flaticon-no-smoke:before { content: "\f119"; }
.flaticon-double-bed:before { content: "\f11a"; }
.flaticon-bunk-bed:before { content: "\f11b"; }
.flaticon-single-bed:before { content: "\f11c"; }
.flaticon-family-room:before { content: "\f11d"; }
.flaticon-wardrobe:before { content: "\f11e"; }
.flaticon-livingroom-black-curtains:before { content: "\f11f"; }
.flaticon-free:before { content: "\f120"; }
.flaticon-meal:before { content: "\f121"; }
.flaticon-fasting:before { content: "\f122"; }
.flaticon-children-cutlery:before { content: "\f123"; }
.flaticon-breakfast:before { content: "\f124"; }
.flaticon-breakfast-1:before { content: "\f125"; }
.flaticon-click-per-pay:before { content: "\f126"; }
.flaticon-payment:before { content: "\f127"; }
.flaticon-dinner-table:before { content: "\f128"; }
.flaticon-watching-tv:before { content: "\f129"; }
.flaticon-desktop-computer:before { content: "\f12a"; }
.flaticon-wifi-router:before { content: "\f12b"; }
.flaticon-multifunction-printer:before { content: "\f12c"; }
.flaticon-hair-dryer:before { content: "\f12d"; }
.flaticon-iron:before { content: "\f12e"; }
.flaticon-bookshelf:before { content: "\f12f"; }
.flaticon-shelving:before { content: "\f130"; }
.flaticon-power-socket:before { content: "\f131"; }
.flaticon-table:before { content: "\f132"; }
.flaticon-folding-chair:before { content: "\f133"; }
.flaticon-boxes:before { content: "\f134"; }
.flaticon-boxes-1:before { content: "\f135"; }
.flaticon-hangers:before { content: "\f136"; }
.flaticon-bed-sheets:before { content: "\f137"; }
.flaticon-bed-linen:before { content: "\f138"; }
.flaticon-ironing-board:before { content: "\f139"; }
.flaticon-kettle:before { content: "\f13a"; }
.flaticon-safe-box:before { content: "\f13b"; }
.flaticon-refrigerator:before { content: "\f13c"; }
.flaticon-air-conditioner:before { content: "\f13d"; }
.flaticon-antibacterial:before { content: "\f13e"; }
.flaticon-water:before { content: "\f13f"; }
.flaticon-towel:before { content: "\f140"; }
.flaticon-toiletries:before { content: "\f141"; }
.flaticon-no-audio:before { content: "\f142"; }
.flaticon-no-sound:before { content: "\f143"; }
.flaticon-sound-off:before { content: "\f144"; }
.flaticon-radio:before { content: "\f145"; }
.flaticon-bathrobe:before { content: "\f146"; }
.flaticon-mirror:before { content: "\f147"; }
.flaticon-cordless-phone:before { content: "\f148"; }
.flaticon-phone:before { content: "\f149"; }
.flaticon-dial-phone:before { content: "\f14a"; }
    
    $font-Flaticon-fridge: "\f100";
    $font-Flaticon-free-wifi: "\f101";
    $font-Flaticon-wifi: "\f102";
    $font-Flaticon-kitchen: "\f103";
    $font-Flaticon-microwave: "\f104";
    $font-Flaticon-shower: "\f105";
    $font-Flaticon-bathroom: "\f106";
    $font-Flaticon-toilet: "\f107";
    $font-Flaticon-washing-machine: "\f108";
    $font-Flaticon-stove: "\f109";
    $font-Flaticon-clean-linen-basket: "\f10a";
    $font-Flaticon-cctv: "\f10b";
    $font-Flaticon-security: "\f10c";
    $font-Flaticon-gift: "\f10d";
    $font-Flaticon-24-hours: "\f10e";
    $font-Flaticon-toilet-1: "\f10f";
    $font-Flaticon-comfortable: "\f110";
    $font-Flaticon-area: "\f111";
    $font-Flaticon-free-parking: "\f112";
    $font-Flaticon-taking-a-shower: "\f113";
    $font-Flaticon-bath-curtain: "\f114";
    $font-Flaticon-windows: "\f115";
    $font-Flaticon-panorama: "\f116";
    $font-Flaticon-360-view: "\f117";
    $font-Flaticon-panorama-1: "\f118";
    $font-Flaticon-no-smoke: "\f119";
    $font-Flaticon-double-bed: "\f11a";
    $font-Flaticon-bunk-bed: "\f11b";
    $font-Flaticon-single-bed: "\f11c";
    $font-Flaticon-family-room: "\f11d";
    $font-Flaticon-wardrobe: "\f11e";
    $font-Flaticon-livingroom-black-curtains: "\f11f";
    $font-Flaticon-free: "\f120";
    $font-Flaticon-meal: "\f121";
    $font-Flaticon-fasting: "\f122";
    $font-Flaticon-children-cutlery: "\f123";
    $font-Flaticon-breakfast: "\f124";
    $font-Flaticon-breakfast-1: "\f125";
    $font-Flaticon-click-per-pay: "\f126";
    $font-Flaticon-payment: "\f127";
    $font-Flaticon-dinner-table: "\f128";
    $font-Flaticon-watching-tv: "\f129";
    $font-Flaticon-desktop-computer: "\f12a";
    $font-Flaticon-wifi-router: "\f12b";
    $font-Flaticon-multifunction-printer: "\f12c";
    $font-Flaticon-hair-dryer: "\f12d";
    $font-Flaticon-iron: "\f12e";
    $font-Flaticon-bookshelf: "\f12f";
    $font-Flaticon-shelving: "\f130";
    $font-Flaticon-power-socket: "\f131";
    $font-Flaticon-table: "\f132";
    $font-Flaticon-folding-chair: "\f133";
    $font-Flaticon-boxes: "\f134";
    $font-Flaticon-boxes-1: "\f135";
    $font-Flaticon-hangers: "\f136";
    $font-Flaticon-bed-sheets: "\f137";
    $font-Flaticon-bed-linen: "\f138";
    $font-Flaticon-ironing-board: "\f139";
    $font-Flaticon-kettle: "\f13a";
    $font-Flaticon-safe-box: "\f13b";
    $font-Flaticon-refrigerator: "\f13c";
    $font-Flaticon-air-conditioner: "\f13d";
    $font-Flaticon-antibacterial: "\f13e";
    $font-Flaticon-water: "\f13f";
    $font-Flaticon-towel: "\f140";
    $font-Flaticon-toiletries: "\f141";
    $font-Flaticon-no-audio: "\f142";
    $font-Flaticon-no-sound: "\f143";
    $font-Flaticon-sound-off: "\f144";
    $font-Flaticon-radio: "\f145";
    $font-Flaticon-bathrobe: "\f146";
    $font-Flaticon-mirror: "\f147";
    $font-Flaticon-cordless-phone: "\f148";
    $font-Flaticon-phone: "\f149";
    $font-Flaticon-dial-phone: "\f14a";